# Node.js modules
node_modules/

# Logs
*.log

# Dependency directories
/node_modules
/jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# next.js build output
.next

# Nuxt.js build output
.nuxt

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# public

# vuepress build output
.vuepress/dist

# Hugo files
/public/

# Docusaurus files
/build/

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Mac system files
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
