.carousel-wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  .splide__slide img {
    width: 100%;
    height: auto;
  }
  
  #thumbnail-slider .splide__slide img {
    cursor: pointer;
  }
  