.header__container {
    display: flex;
    align-items: center;
    margin: 16px 0;
  }
  
  .header__logo {
    display: flex;
    flex-grow: 1;
  }
  
  .header__logo1 {
    list-style-type: none;
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-size: var(--fs-h3);
    font-weight: 500;
  }
  
  .header__navigation {
    display: flex;
    flex-direction: row;
  }
  
  .header__list {
    display: flex;
    gap: 16px;
    list-style-type: none;
    text-decoration: none;
  }
  
  .header__a__list {
    text-decoration: none;
    color: white;
    font-size: var(--fs-small);
  }
  
  .header__a__list:hover {
    color: rgba(227, 227, 235, 0.585);
  }
  
  .header__user__email {
    color: white;
    font-size: var(--fs-small);
    margin-right: 16px;
  }
  
  .header__logout__button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: var(--fs-small);
    cursor: pointer;
  }
  
  .header__logout__button:hover {
    color: rgba(227, 227, 235, 0.585);
  }
  